<?xml version="1.0"?>
<robot name="hexapod" xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- ********* -->
  <!-- Materials -->
  <!-- ********* -->
  <material name="frame">
    <color rgba="1.0 0.6 0.0 1" />
  </material>
  <material name="feet">
    <color rgba="0.1 0.1 0.1 1" />
  </material>

  <!-- ********** -->
  <!-- Parameters -->
  <!-- ********** -->
  <xacro:property name="leg_spreading_angle" value="0.5236" />
  <xacro:property name="leg_a_length" value="0.060" />
  <xacro:property name="leg_b_length" value="0.060" />
  <xacro:property name="leg_c_length" value="0.060" />
  <xacro:property name="servo_velocity_limit" value="5.6" />
  <xacro:property name="servo_effort_limit" value="1.5" />
  <xacro:property name="servo_static_friction" value="0.3" />
  <xacro:property name="servo_damping_friction" value="0.1" />
  <xacro:property name="servo_p_gain" value="8.4" />
  <xacro:property name="joint_a_limit_lower" value="-0.7854" />
  <xacro:property name="joint_a_limit_upper" value="0.7854" />
  <xacro:property name="joint_b_limit_lower" value="-1.047" />
  <xacro:property name="joint_b_limit_upper" value="0.7854" />
  <xacro:property name="joint_c_limit_lower" value="-2.0944" />
  <xacro:property name="joint_c_limit_upper" value="0" />

</robot>
